@use '../../foundation' as *;

.p-landscape {
  height: 50vh;

  @include responsive(tab) {
    display: none;
  }

  @include responsive(pc) {
    display: none;
  } 

  &__indication {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }

  img {
    width: 4rem;
    height: auto;
  }

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}