:root {
  //color
  --white: #d8d8d8;
  --dark: #202020; 
  --background--dark: #0c0c0c;
  --background--stickey: #D5BD95;

  //font
  --font--en: "Just Another Hand";
  --font--ja: "Zen Kurenaido", sans-serif;
}