@use '../../foundation' as *;

.c-link {
  margin: 5vh 0;
  display: flex;
  justify-content: center;

  &__logo {
    max-width: 60%;
    display: inline-block;

    img {
      width: auto;
      height: 20vh;
      object-fit: contain;
    }
  }
}